html { 
  background: url(doodlemeetimage4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.dropdown {
    font-size: 18px
} 
.navbar-brand {
  font-size: 35px
}
.active {
   font-size: 18px
}
.dropdown-menu{
  font-size: 15px
}
.list-group-item{
  background-color: transparent;
  font-size: 20px
}
.list-group .list-group-item .ratingsbutton {
    background-color: #00bfff;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.list-group .ratingsform {
	display:inline-block;
} 

.list-group-item-text {
  background-color: transparent;
  font-size: 14px;
  margin-left: 2em;
  margin-bottom: 1cm;
  margin:0;
}
.btn btn-secondary btn-lg active{
  background-color: #dee2de
}

.entries        { background-color: transparent; border: none; box-shadow:none }
.list-group     { background-color: transparent; border: none; box-shadow:none }
.list-group-item     { background-color: transparent; border: none; box-shadow:none }
.entries li     { margin: 1.2em 1.2em; }
.entries li     { margin-left: 1em; }
.blockquote {
  opacity: 0.8 ; 
}
.btn btn-secondary btn-lg active {
    font-size: 10px
}
.btn btn-default { background-color: rgba(245, 245, 245, 0); border: none; box-shadow:none }
.blockquote {background-color: transparents}

