<!DOCTYPE html>
<html lang="en">
<html class ='home'>
<head>
  <title>Doodle Meet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/stylev1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('show_entries') }}">Doodle Meet</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('show_entries') }}">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Culture<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for ('handler', name='museums') }}">Museum</a></li>
          <li><a href="{{ url_for ('handler', name='art') }}">Art</a></li>
          <li><a href="{{ url_for ('handler', name='concerts') }}">Concert</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Adventure<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for ('handler', name='fishing') }}">Fishing</a></li>
          <li><a href="{{ url_for ('handler', name='kayaking') }}">Kayaking</a></li>
          <li><a href="{{ url_for ('handler', name='sailing') }}">Sailing</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Entertainment<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for ('handler', name='pets') }}">Pets</a></li>
          <li><a href="{{ url_for ('handler', name='clubing') }}">Clubbing</a></li>
          <li><a href="{{ url_for ('handler', name='broadwayshow') }}">Broadway show</a></li>
        </ul>
      </li>
      <li><a href="{{ url_for('display_interest_list') }}">My Interest List</a></li>
      <li><a href="{{ url_for('enter_user_info') }}">Change my info</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>{{log_info}}</a></li>
    </ul>
  </div>
</nav>
{% if info %}<p class=error><strong>Hey:</strong> {{ info }}{% endif %}
<label for="order-history">Your order history: </label>
<form class="form-inline" >
  {% for entry in orderhistory %}
  <div class="form-group">
    <label for="formGroupExampleInput">oid:</label>
    <p class="list-group-item-text" >{{entry[0]}}</p><br>
    
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">uid:</label>
     <p class="list-group-item-text">{{entry[1]}}</p><br>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">tid:</label>
     <p class="list-group-item-text">{{entry[2]}}</p><br>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">time:</label>
     <p class="list-group-item-text">{{entry[3]}}</p><br>
  </div>

  {% endfor %}

</form>



</body>
</html>

