<!DOCTYPE html>
<html lang="en">
<html class ='home'>
<head>
  <title>Doodle Meet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/stylev1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('show_entries') }}">Doodle Meet</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('show_entries') }}">Home</a></li>
      <li class="active"><a href="{{ url_for ('handler', name = activity_category ) }}">{{name}}</a></li>
     </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> {{log_info}}</a></li>
    </ul>
  </div>
</nav>
<ul class="list-group">
    {% for entry in mynames %}
    <li class="list-group-item">
        <p style="color:#6699ff;font-size:30px">{{ entry[7] }}</p>
        <a href = "{{ url_for ('rating_display', activity_subcategory = name, pid = entry[0], aid =entry[1], aaid = entry[2]) }}" class = "ratingsbutton">GET RATINGS</a>

    </li>
    <p class="list-group-item-text" style="color: #696969;font-size:20px;"> &nbsp;&nbsp;&nbsp;&nbsp; Opening Time: {{entry[3]}}</p>
    <p class="list-group-item-text" style="color: #696969;font-size:20px;"> &nbsp;&nbsp;&nbsp;&nbsp; Closing time : {{entry[4]}}</p>
    <p class="list-group-item-text" style="color: #696969;font-size:20px;"> &nbsp;&nbsp;&nbsp;&nbsp; City : {{entry[6]}}</p>
    <p class="list-group-item-text" style="color: #696969;font-size:20px;"> &nbsp;&nbsp;&nbsp;&nbsp; State : {{entry[5]}} </p>

     
   {% endfor %}
    
</ul>

</body>
</html>
