<!DOCTYPE html>
<html lang="en">
<html class ='home'>
<head>
  <title>Doodle Meet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/stylev1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('show_entries') }}">Doodle Meet</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('show_entries') }}">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{name}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for entry in mynames %}
            <li><a href = "{{ url_for ('loc_display', name = entry[0] ) }}">{{ entry[0] }}</a>
          {% endfor %}
        </ul>
      </li>
     </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>{{log_info}}</a></li>
    </ul>
  </div>
</nav>
<blockquote class="blockquote">
  <p class="mb-0">{{text}}</p>
  <footer class="blockquote-footer"><cite title="Source Title">{{quote}}</cite></footer>
</blockquote>
</body>
</html>