<!DOCTYPE html>
<html lang="en">
<html class ='home'>
<head>
  <title>Doodle Meet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/stylev1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('show_entries') }}">Doodle Meet</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('show_entries') }}">Home</a></li>
      <li class="active"><a href="{{ url_for ('handler', name = activity_category ) }}">{{name}}</a></li>
     </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> {{log_info}}</a></li>
    </ul>
  </div>
</nav>
<ul class="list-group">
    {% for entry in mynames %}
    <li class="list-group-item">
        {{ entry[0] }}
    </li>
    <p class="list-group-item-text">  | open time: {{entry[3]}}   close time : {{entry[4]}}   city : {{entry[2]}}   state : {{entry[1]}} </p>
     
   {% endfor %}
    
</ul>

</body>
</html>
