<head>
    <link rel="stylesheet" type="text/css" href="../static/stylev1.css">
<link href='https://fonts.google.com/specimen/Roboto?selection.family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://fonts.google.com/specimen/Roboto?selection.family=Roboto" >

</head>
<body>
{% block body %}

<ul class=entries>
  
  {% for entry in mynames %}
    <li><h2><a href = "#">{{ entry[0] }}</a></h2>
    <button type="button">raing</button>
  {% endfor %}
  </ul>

{% endblock %}